@model ChangePassword

    <form action="/authentication/ChangePasswordPost" method="post" class="login-form">
        <div class="editor-field"><input class="text-box single-line" data-val="true" id="email" name="email" type="text" placeholder="Username"> <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span></div>
        <div class="editor-field"><input class="text-box single-line" data-val="true" id="password" name="password" type="password" placeholder="Password"> <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></div>
        <input type="submit" value="Verander inloggegevens">
    </form>