@model Proftaakrepos.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
<center>
    <div class="login-page">
        <div class="form">
            @*
            <form class="login-form" method="post" asp-action="Login" asp-controller="Authentication">
        <div asp-validation-summary="All"></div>*@
            <img class="avatar" draggable="false" src="~/img/img_avatar.png" />
            @*<input type="text" placeholder="E-mail" />
            <input type="password" placeholder="Wachtwoord" />*@
            @*<button type="button" onclick="location.href='@Url.Action("ShiftView", "Home")'" class="FormButton">Login</button>*@
            @*</form>*@


            @*<form class="login-form" method="post" asp-action="Login" asp-controller="Authentication">
                <div asp-validation-summary="All"></div>
                <div>
                    <input asp-for="Username" placeholder="E-mail" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div>
                    <input asp-for="Password" placeholder="Wachtwoord" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div>
                    <input type="submit" value="Log in" />
                </div>
            </form>*@
            <div style="color: red;">@Html.ValidationSummary(true)</div>

            <form action="/authentication/Login" method="post" class="login-form">
                <div style="color: red;"></div>
                <div class="editor-field"><input class="text-box single-line" data-val="true" data-val-email="The Username field is not a valid e-mail address." data-val-required="The Username field is required." id="Username" name="Username" type="email" value="" placeholder="E-mail"> <span class="field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span></div>
                <div class="editor-field"><input class="text-box single-line password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" placeholder="Password"> <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true" ></span></div>
                <input type="submit" value="Login" style="background-color: #c03; color: white;">
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EOqBZJ4L9xKo32K9M8nkZPhJaT6nXPCFStpyMInvWzEwhpGCcH33xmhjfaGHRoRgYzk5q5_Z6lpsvydxHUiQcI7O3JZ19oyI-L_Kx4z6ONuXETn0GbjXmGTlqSHntU9hP_xsh6FTGk52jyGmoldprU">
            </form>
        </div>
    </div>
</center>