@using Models
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/login.css">
<center>
    <div class="login-page">
        <div class="form">
            <img class="avatar" draggable="false" src="~/img/img_avatar.png" />
            <div style="color: red;">@ViewData["Error"]</div>

            <form asp-action="Login" asp-controller="Authentication" method="post" class="login-form">
                <div style="color: red;"></div>
                <div class="editor-field"><input class="text-box single-line" id="User" asp-for="Username" type="email" value="" placeholder="E-mail"></div>
                <div class="editor-field"><input class="text-box single-line password" asp-for="Password" type="password" placeholder="Wachtwoord"></div>
                <input type="submit" id="submitButton" value="Login" style="background-color: #c03; color: white;">
            </form>
        </div>
    </div>
</center>

<script src="~/js/login.js"></script>