@model Proftaakrepos.Models.EventModel
@{
    ViewData["Title"] = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agenda</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/moment.js"></script>
    <link rel="stylesheet" href="~/css/Agenda.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha256-Lfe6+s5LEek8iiZ31nXhcSez0nmOxP+3ssquHMR3Alo=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js" integrity="sha256-GBryZPfVv8G3K1Lu2QwcqQXAO4Szv4xlY4B/ftvyoMI=" crossorigin="anonymous"></script>
    <link href="~/css/main.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js" integrity="sha256-FT1eN+60LmWX0J8P25UuTjEEE0ZYvpC07nnU6oFKFuI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js" integrity="sha256-L9T+qE3Ms6Rsuxl+KwLST6a3R/2o6m33zB5mR2KyPjU=" crossorigin="anonymous"></script>
    <script src='~/js/interactionmain.min.js'></script>
    @*<script src="~/js/myCalendar.js"></script>*@
<script>
    ///////////////////////////////////////////////
    document.onload
    document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                customButtons: {
                    addEventButton: {
                        text: 'Add event',
                        click: function () {
                            window.location.href = '@Url.Action("CreateEvent", "Home")'
                        }
                    }
                },
                plugins: ['timeGrid'],

                defaultView: 'timeGridWeek',
                nowIndicator: 'true',
                minTime: "06:00:00",
                maxTime: "24:00:00",
                height: 'auto',
                header: {
                    right: 'prev,next, today',
                    center: 'title',
                    left: 'addEventButton'
                },
                events: ['@Url.Action("FetchAllEvents", "Home")'],
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                select: function (selectionInfo) {
                    console.log("test");
                }
            });
        calendar.render();
        
    });

</script>


</head>

<body>
    <div id="calendar"></div>
</body>





