
@{
    ViewData["Title"] = "ShiftView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ShiftView.css" />

<h1>ShiftView</h1>

<div class="c incomming">
    <div class="exampleRequest" style="margin-top: 20px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <!-- <div class="exampleRequest" style="margin-top: 90px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 160px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 230px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 300px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 370px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 440px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 510px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 580px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div>
    <div class="exampleRequest" style="margin-top: 650px !important">
        <p class="requestText vertical-center">Example request <span>- user</span></p>
        <img src="./check-solid.svg" alt="No" class="add">
        <img src="./ban-solid.svg" alt="No" class="block">
    </div> -->
</div>
<div class="c request">

</div>