
@{
    ViewData["Title"] = "ShiftView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ShiftView.css" />


<div class="window">
    <h1>ShiftView</h1>
    <div class="RequestsRecieved">
        <div class="exampleRequest" style="margin-top: 20px !important">
            <p class="requestText vertical-center">Example request <span>- user</span></p>
            <img src="./check-solid.svg" alt="No" class="add">
            <img src="./ban-solid.svg" alt="No" class="block">
        </div>
    </div>
    <div class="CreateRequest">

    </div>
</div>