
@{
    ViewData["Title"] = "ShiftView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ShiftView.css" />


<div class="window">
    <h1>ShiftView</h1>

    @* Incomming request box *@
    <div class="topSpacer1"></div>
    <div class="RequestsRecieved">
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
        <div class="exampleRequest">
            <span class="requestText">Example request <span>- user</span></span>
            <img src="~/img/check-solid.svg" alt="No" class="add">
            <img src="~/img/ban-solid.svg" alt="No" class="block">
        </div>
    </div>
    <div class="bottomSpacer1"></div>

    @* Create a request - box *@
    <div class="CreateRequest">

    </div>
</div>