
@{
    ViewData["Title"] = "ShiftView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/ShiftView.css" />


<div class="window">
    <h1>ShiftView</h1>

    <div class="RequestsRecieved">

    </div>
    <div class="CreateRequest">

    </div>
</div>