@page
@model Proftaakrepos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AddEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddEmployee.name" class="control-label"></label>
                <input asp-for="AddEmployee.name" class="form-control" />
                <span asp-validation-for="AddEmployee.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.tussenvoegsel" class="control-label"></label>
                <input asp-for="AddEmployee.tussenvoegsel" class="form-control" />
                <span asp-validation-for="AddEmployee.tussenvoegsel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.achternaam" class="control-label"></label>
                <input asp-for="AddEmployee.achternaam" class="form-control" />
                <span asp-validation-for="AddEmployee.achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.eMail" class="control-label"></label>
                <input asp-for="AddEmployee.eMail" class="form-control" />
                <span asp-validation-for="AddEmployee.eMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.phoneNumber" class="control-label"></label>
                <input asp-for="AddEmployee.phoneNumber" class="form-control" />
                <span asp-validation-for="AddEmployee.phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.straatName" class="control-label"></label>
                <input asp-for="AddEmployee.straatName" class="form-control" />
                <span asp-validation-for="AddEmployee.straatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.huisNummer" class="control-label"></label>
                <input asp-for="AddEmployee.huisNummer" class="form-control" />
                <span asp-validation-for="AddEmployee.huisNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.postcode" class="control-label"></label>
                <input asp-for="AddEmployee.postcode" class="form-control" />
                <span asp-validation-for="AddEmployee.postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddEmployee.woonplaats" class="control-label"></label>
                <input asp-for="AddEmployee.woonplaats" class="form-control" />
                <span asp-validation-for="AddEmployee.woonplaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

