@{
    Layout = null;
}
<header>
    <link href="~/css/Error500.css" rel="stylesheet" />
    <script src="~/js/Error500.js"></script>
</header>

<body>
    <div class="error-500" data-text="@Proftaakrepos.Resources.lang.Spaghet">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </div>
</body>