body {
}

.banner{
    background-color: grey;
    height: 25px;
    width: 100%;
    margin-top: 20px;
}
#inputfield {
    border: 0;
    border-bottom: 1px solid #000000;
    width: 100%;
    margin-top: 10px;
}

#role {
    border: 1px solid #000000;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 50px;
    width: 60%;
}

#radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black !important;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
