#colorbutton{
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}
