@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
    margin-top: 20%;
    width: 40%;
}
body {
    background: #c03; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #c03, #c03);
    background: -moz-linear-gradient(right, #c03, #c03);
    background: -o-linear-gradient(right, #c03, #c03);
    background: linear-gradient(to left, #c03, #c03);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonform {
    background-color: #c03;
}