*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#view{
    width: 100%;
    height: 100vh;
}
.sidebar-toggle{
    display: contents !important;
}
#navbar {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 5vh;
}

.left{
    grid-column: 1;
}

.right{
    grid-column: 2;
}

#logo-container{
    display:block;
    width: inherit;
    height: 5vh;
    text-align: center;
}

#logo {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    height: 7vh;
}

#buttons{
    list-style-type: none;
    float:right;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons li{
    display: inline-block;
    text-align: center;
    height: inherit;
}

#buttons li a{
    /* Positioning */
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 5vh;
    /* Text design */
    color: black;
    text-decoration: none;
}

#buttons li a:hover span{
    animation: navbarHover 0.2s;
    animation-fill-mode: forwards;
}

@keyframes navbarHover{
    from {
        color: black;
    }
    to {
        color: red;
    }
}