@using Proftaakrepos.Models

@{
    ViewData["Title"] = "Hours Worked";
    var data = ViewData["Collection"] as List<HoursWorkedModel>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/hoursworked.css" runat="server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="~/js/script.js"></script>-->
    <title>Gewerkte uren</title>
</head>
<body>
    <div id="filter-project">
        <input type="search" id="searchbar" placeholder="Zoek project">
        <input type="submit">
        <div id="display-options">
            <p>Display: </p>
            <select id="display-filter">
                <option value="1week">1 week</option>
                <option value="2weeks">2 weken</option>
                <option value="1month">1 maand</option>
                <option value="1year">1 jaar</option>
                <option value="allTime">Altijd</option>
            </select>
        </div><br />
        <hr />
    </div>
    
    @await Html.PartialAsync("OverviewTable")
    
    <table class="total-table">
        <tr>
            <th class="table-header" id="total-header">Totaal van @HoursWorkedModel.EmployeeName</th>
        </tr>
        <tr class="table-body"><td>Totale tijd</td></tr>
        <tr class="table-body"><td>Gewerkte uren</td></tr>
        <tr class="table-body"><td>Overuren</td></tr>
    </table>
</body>
</html>
