@using Models

@{
    var data = ViewData["Collection"] as List<HoursWorkedModel>;
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/hoursworked.css" runat="server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="~/js/script.js"></script>-->
</head>
<table class="hours-table">
    <!--Show days of week-->
    @foreach (var d in data)
    {
        <tr class="table-header">
            <th input-type="text">Week: @d.WeekNumber</th>
            <td>Maandag</td>
            <td>Dinsdag</td>
            <td>Woensdag</td>
            <td>Donderdag</td>
            <td>Vrijdag</td>
            <td>Zaterdag</td>
            <td>Zondag</td>
            <td>Subtotaal van Week</td>
        </tr>

        <tr>
            <td>Totale tijd</td>
            <td>@d.TotalTime</td>
        </tr>
        <tr>
            <td>Gewerkte uren</td>
            <td>@d.WorkedHours</td>
        </tr>
        <tr>
            <td>Overuren</td>
            <td>@d.Overtime</td>
        </tr>
    }

</table>