
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Activity Log</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tijd</th>
            <th scope="col">IP</th>
            <th scope="col">Gelukt</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<string[]> records = ViewData["records"] as List<string[]>;
            for (int i = 0; i < records.Count(); i++)
            {
                <tr>
                    <th scope="row">@records[i][2]</th>
                    <td>@records[i][3]</td>
                    @{ if (@records[i][1].ToLower() == "true")
                        {
                            <td>Ja</td>
                        }
                        else
                        {
                            <td>Nee</td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
    </li>
</ul>
