
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Laatste accountactiviteit</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tijd</th>
            <th scope="col">IP</th>
            <th scope="col">Gelukt</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<string[]> records = ViewData["records"] as List<string[]>;
            for (int i = 0; i < records.Count(); i++)
            {
                <tr>
                    <th scope="row">@records[i][2].Substring(0, records[i][2].Length - 3)</th>
                    <td>@records[i][3]</td>
                    @{ if (@records[i][1].ToLower() == "true")
                        {
                            <td>Ja</td>
                        }
                        else
                        {
                            <td>Nee</td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
