@using ClassLibrary.Classes;
@using Microsoft.AspNetCore.Http;
@using Models.Authentication;
@using CookieManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CGI Planner app</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    @{
        CookieModel cookieMonster = TempData["CookieMonster"] as CookieModel;
        string usercode = cookieMonster.Identifier;
        string rol = string.Empty;
        List<string> rollen = SQLConnection.ExecuteSearchQuery($"SELECT Rol FROM Werknemers WHERE `authCode` = '{usercode}'");
        if (rollen.Count == 1) rol = rollen[0];
    }
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link btn-sm order-1 order-lg-0 sidebar-toggle text-decoration-none" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
            <span class="navbar-brand" href="/Planner/Agenda"><img id="logo" src="~/img/CGI_logo.svg"></span>
        </button>
        
        <!-- Navbar-->
        <div class="position-absolute" style="right: 0px;">
            <ul class="navbar-nav ml-auto ml-md-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/Account/ChangeSettings"><i class="fas fa-user-cog"></i>&nbsp;Instellingen</a>
                        <a class="dropdown-item" href="/Activity/Index"><i class="fas fa-chart-line"></i>&nbsp;Laatste accountactiviteit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/LogOut"><i class="fas fa-sign-out-alt"></i>&nbsp;Uitloggen</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Rooster</div>
                        <a class="nav-link" href="/Planner/Agenda">
                            <div class="sb-nav-link-icon"><i class="far fa-calendar-alt"></i></div>
                            Rooster
                        </a>
                        <a class="nav-link" href="/Verlof/Aanvragen">
                            <div class="sb-nav-link-icon"><i class="far fa-calendar-minus"></i></div>
                            Verlof Aanvragen
                        </a>
                        <div class="sb-sidenav-menu-heading">Incidenten</div>
                        <a class="nav-link" asp-controller="Incidents" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-exclamation"></i></div>
                            Incidenten
                        </a>
                        <div class="sb-sidenav-menu-heading">Ruilaanvragen</div>
                        <a class="nav-link collapsed" href="/ShiftView/Incoming">
                            <div class="sb-nav-link-icon"><i class="far fa-calendar"></i></div>
                            Inkomend
                        </a>
                        <a class="nav-link collapsed" href="/ShiftView/CreateRequest">
                            <div class="sb-nav-link-icon"><i class="far fa-calendar-plus"></i></div>
                            Uitgaand
                        </a>
                        @{

                            if (rol.ToLower() == "roostermaker")
                            {
                                <div class="sb-sidenav-menu-heading">Werknemers</div>
                                <a class="nav-link collapsed" href="/Employee/Employees">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
                                    Werknemers
                                </a>
                                <a class="nav-link collapsed" href="/Employee/AddEmployee">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                    Voeg werknemer toe
                                </a>

                                <div class="sb-sidenav-menu-heading">Applicatie</div>
                                <a class="nav-link collapsed" href="/Role/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-tag"></i></div>
                                    Toegang
                                </a>
                                <a class="nav-link collapsed" href="/Bedrijf/AgendaSettings">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                    Bedrijfsinstellingen
                                </a>
                            }

                        }

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Ingelogd als:</div>
                    @GetUserData.UserNameAuth(usercode)
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <!-- Place for content -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="~/js/scripts.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <main class="p-3">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; CGI @DateTime.Now.Year</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>
</html>
