
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Uw verlof aanvragen</h1>

<div class="card mb-4">
    <div class="card-header bg-dark text-white">Verlofverzoek aanmaken</div>
    <div class="card-body">
        <div class="container-fluid">
            <form method="post">
                <input type="hidden" value="dank" name="UserID" />
                <div class="input-group">
                    @*Variabel aanmaken van de inkomende verlofaanvragen*@
                </div>
            </form>
        </div>
    </div>
</div>