<div class="card mb-4">
    <div class="card-header bg-dark text-white" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">CGI</div>
    <div class="card-body bg-white">
        Beste werknemer,
        Iemand heeft op uw ruilverzoek gereageerd,
        u hoeft hier verder niets meer voor te doen.
    </div>
    <div class="card-header bg-dark text-white" style="border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;">
        Event:
    </div>
    <div class="card-body bg-white">

    </div>
</div>
