
@{
    ViewData["Title"] = "FuckXander";
}

<div class="card mb-4">
    <div class="card-header bg-dark text-white">Ruilverzoek aanmaken</div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header bg-dark text-white">Uw ruilverzoeken</div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>