@model AddEmployee
@{
    ViewData["Title"] = "Voeg een werknemer toe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Voeg werknemer toe</h1>
<p style="color: red;">@ViewData["result"]</p>
<link rel="stylesheet" type="text/css" href="~/css/addEmployee.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $("#div1").fadeIn();
            $("#div2").fadeIn("slow");
            $("#div3").fadeIn(3000);
        });
    });
</script>

<div class="form">
    <div style="color: red;">@ViewData["Error"]</div>

    <form asp-action="AddEmployee" asp-controller="Employee" method="post" class="login-form">
        <div style="color: red;"></div>
        <div id="div1" style="display:none;">
            <div class="banner"><center><h5 style="color: white">BASIS INFORMATIE</h5></center></div>
            <input id="inputfield" asp-for="naam" type="text" placeholder="Voornaam">
            <input id="inputfield" asp-for="tussenvoegsel" type="text" placeholder="Tussenvoegsel">
            <input id="inputfield" asp-for="achternaam" type="text" placeholder="Achternaam">
        </div>
        <div id="div2" style="display:none;">
            <div class="banner"><center><h5 style="color: white">CONTACT INFORMATIE</h5></center></div>
            <input id="inputfield" asp-for="eMail" type="email" placeholder="E-mail">
            <input id="inputfield" asp-for="phoneNumber" type="text" placeholder="Telefoonnummer">
            <input id="inputfield" asp-for="straatnaam" type="text" placeholder="Straatnaam">
            <input id="inputfield" asp-for="huisNummer" type="text" placeholder="Huisnummer">
            <input id="inputfield" asp-for="postcode" type="text" placeholder="Postcode">
            <input id="inputfield" asp-for="woonplaats" type="text" placeholder="Woonplaats">
            <select id="inputfield" name="role">
                @{ if (ViewData["roles"] == null) { }
                    else
                    {
                        string[] rollen = ViewData["roles"] as string[];
                        for (int i = 0; i < rollen.Length; i++)
                        {
                            <option value="@rollen[i]">@rollen[i]</option>
                        }
                    }
                }
            </select>
        </div>
        <div id="div3" style="display:none;">
            <div class="banner"><center><h5 style="color: white">INSTELLINGEN</h5></center></div>
            <p>Email notificatie</p>
            <input type="radio" name="emailsetting" value="Ja" /> <label>Ja</label>
            <input type="radio" name="emailsetting" value="Nee" />
            <label>Nee</label>
            <p>SMS notificatie</p>
            <input type="radio" name="smssetting" value="Ja" />
            <label>Ja</label>
            <input type="radio" name="smssetting" value="Nee" />
            <label>Nee</label>
            <br>
            <input type="submit" value="Voeg toe">
        </div>
    </form>
</div>

<script>
    function FadeAnimation() {
        $("#div1").fadeIn();
        $("#div2").fadeIn(1000);
        $("#div3").fadeIn(1500);
    }
window.onload = FadeAnimation;
</script>