
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="text-danger">@Proftaakrepos.Resources.lang.ToegangGeweigerd</h1>
    <h6 class="text-danger">@Proftaakrepos.Resources.lang.GeenToegang</h6>
</div>

