
@{
    ViewData["Title"] = "Incidenten";
}

    <div class="card mb-3">
        <div class="card-header">
            Incident
        </div>
        <div class="card-body">
            <h5 class="card-title">Omschrijving</h5>
        </div>
        <div class="card-footer">
            <a href="#" class=" btn btn-primary">Starten</a>
            <a class=" btn btn-primary" asp-action="" asp-controller="" asp-route-id="">Status aanpassen</a>
            <a href="#" class=" btn btn-primary">Afgehandeld</a>
        </div>
    </div>
