@model AddIncidentModel
@{
    ViewData["Title"] = "VoegIncidentToe";
}

<h1>Voeg Incident Toe</h1>
<form method="post">
    <div asp-validation-summary="All">

    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Incident naam: </span>
        </div>
        <input type="text" class="form-control" asp-for="IncidentNaam">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Incident omschrijving: </span>
        </div>
        <input type="text" class="form-control" asp-for="IncidentOmschrijving">
    </div>
    <input type="submit" class="btn btn-outline-secondary" value="Voeg toe">
</form>